In [1]:
import h2o

In [2]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  --------------------------------------------------------------------
H2O_cluster_uptime:         9 hours 26 mins
H2O_cluster_timezone:       America/New_York
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.0.1
H2O_cluster_version_age:    2 months and 13 days
H2O_cluster_name:           H2O_from_python_vishw_zfbpz4
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    1.893 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null, "no": "192.168.99.100,192.168.99.101"}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.6.8 final
--------------------------  --------------------------------------------------------------------

In [3]:
data="C:/Users/vishw/Downloads/datasets_596958_1073629_Placement_Data_Full_Class.csv"

In [4]:
campus=h2o.import_file(data)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [41]:
campus

sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
1,M,67,Others,91,Others,Commerce,58,Sci&Tech,No,55,Mkt&HR,58.8,Placed,270000
2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000
3,M,65,Central,68,Central,Arts,64,Comm&Mgmt,No,75,Mkt&Fin,57.8,Placed,250000
4,M,56,Central,52,Central,Science,52,Sci&Tech,No,66,Mkt&HR,59.43,Not Placed,0
5,M,85.8,Central,73.6,Central,Commerce,73.3,Comm&Mgmt,No,96.8,Mkt&Fin,55.5,Placed,425000
6,M,55,Others,49.8,Others,Science,67.25,Sci&Tech,Yes,55,Mkt&Fin,51.58,Not Placed,0
7,F,46,Others,49.2,Others,Commerce,79,Comm&Mgmt,No,74.28,Mkt&Fin,53.29,Not Placed,0
8,M,82,Central,64,Central,Science,66,Sci&Tech,Yes,67,Mkt&Fin,62.14,Placed,252000
9,M,73,Central,79,Central,Commerce,72,Comm&Mgmt,No,91.34,Mkt&Fin,61.29,Placed,231000
10,M,58,Central,70,Central,Commerce,61,Comm&Mgmt,No,54,Mkt&Fin,52.21,Not Placed,0

In [6]:
campus[campus["salary"].isna(), "salary"] = 0

In [7]:
cols_1 = campus[:, [1, 2,4,6,7,8,9,10,11,12,13,14]]

In [42]:
cols_1

gender,ssc_p,hsc_p,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
M,67,91,Commerce,58,Sci&Tech,No,55,Mkt&HR,58.8,Placed,270000
M,79.33,78.33,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000
M,65,68,Arts,64,Comm&Mgmt,No,75,Mkt&Fin,57.8,Placed,250000
M,56,52,Science,52,Sci&Tech,No,66,Mkt&HR,59.43,Not Placed,0
M,85.8,73.6,Commerce,73.3,Comm&Mgmt,No,96.8,Mkt&Fin,55.5,Placed,425000
M,55,49.8,Science,67.25,Sci&Tech,Yes,55,Mkt&Fin,51.58,Not Placed,0
F,46,49.2,Commerce,79,Comm&Mgmt,No,74.28,Mkt&Fin,53.29,Not Placed,0
M,82,64,Science,66,Sci&Tech,Yes,67,Mkt&Fin,62.14,Placed,252000
M,73,79,Commerce,72,Comm&Mgmt,No,91.34,Mkt&Fin,61.29,Placed,231000
M,58,70,Commerce,61,Comm&Mgmt,No,54,Mkt&Fin,52.21,Not Placed,0

In [43]:
cols_1df=cols_1.as_data_frame()

In [44]:
Q1 = cols_1df['hsc_p'].quantile(0.25)

In [45]:
Q3 = cols_1df['hsc_p'].quantile(0.75)

In [46]:
IQR = Q3 - Q1

In [47]:
filter = (cols_1df['hsc_p'] >= Q1 - 1.5 * IQR) & (cols_1df['hsc_p'] <= Q3 + 1.5 *IQR)
placement_filtered=cols_1df.loc[filter]

In [48]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [49]:
object_cols=['gender','workex','specialisation']

In [50]:
label_encoder = LabelEncoder()
for col in object_cols:
    placement_filtered[col] = label_encoder.fit_transform(placement_filtered[col])
placement_filtered.head()

c:\users\vishw\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,gender,ssc_p,hsc_p,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,67.00,91.00,Commerce,58.00,Sci&Tech,0,55.0,1,58.80,Placed,270000
1,1,79.33,78.33,Science,77.48,Sci&Tech,1,86.5,0,66.28,Placed,200000
2,1,65.00,68.00,Arts,64.00,Comm&Mgmt,0,75.0,0,57.80,Placed,250000
3,1,56.00,52.00,Science,52.00,Sci&Tech,0,66.0,1,59.43,Not Placed,0
4,1,85.80,73.60,Commerce,73.30,Comm&Mgmt,0,96.8,0,55.50,Placed,425000

In [51]:
dummy_hsc_s=pd.get_dummies(placement_filtered['hsc_s'], prefix='dummy')
dummy_degree_t=pd.get_dummies(placement_filtered['degree_t'], prefix='dummy')
placement_coded = pd.concat([placement_filtered,dummy_hsc_s,dummy_degree_t],axis=1)
placement_coded.drop(['hsc_s','degree_t','salary'],axis=1, inplace=True)
placement_coded.head()

,gender,ssc_p,hsc_p,degree_p,workex,etest_p,specialisation,mba_p,status,dummy_Arts,dummy_Commerce,dummy_Science,dummy_Comm&Mgmt,dummy_Others,dummy_Sci&Tech
0,1,67.00,91.00,58.00,0,55.0,1,58.80,Placed,0,1,0,0,0,1
1,1,79.33,78.33,77.48,1,86.5,0,66.28,Placed,0,0,1,0,0,1
2,1,65.00,68.00,64.00,0,75.0,0,57.80,Placed,1,0,0,1,0,0
3,1,56.00,52.00,52.00,0,66.0,1,59.43,Not Placed,0,0,1,0,0,1
4,1,85.80,73.60,73.30,0,96.8,0,55.50,Placed,0,1,0,1,0,0

In [52]:
placement_h2o  = h2o.H2OFrame(placement_coded)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [53]:
placement_h2o

gender,ssc_p,hsc_p,degree_p,workex,etest_p,specialisation,mba_p,status,dummy_Arts,dummy_Commerce,dummy_Science,dummy_Comm&Mgmt,dummy_Others,dummy_Sci&Tech
1,67,91,58,0,55,1,58.8,Placed,0,1,0,0,0,1
1,79.33,78.33,77.48,1,86.5,0,66.28,Placed,0,0,1,0,0,1
1,65,68,64,0,75,0,57.8,Placed,1,0,0,1,0,0
1,56,52,52,0,66,1,59.43,Not Placed,0,0,1,0,0,1
1,85.8,73.6,73.3,0,96.8,0,55.5,Placed,0,1,0,1,0,0
1,55,49.8,67.25,1,55,0,51.58,Not Placed,0,0,1,0,0,1
0,46,49.2,79,0,74.28,0,53.29,Not Placed,0,1,0,1,0,0
1,82,64,66,1,67,0,62.14,Placed,0,0,1,0,0,1
1,73,79,72,0,91.34,0,61.29,Placed,0,1,0,1,0,0
1,58,70,61,0,54,0,52.21,Not Placed,0,1,0,1,0,0

In [54]:
x = placement_h2o.columns

In [55]:
y="status"

In [56]:
x.remove(y)

In [57]:
x

['gender',
 'ssc_p',
 'hsc_p',
 'degree_p',
 'workex',
 'etest_p',
 'specialisation',
 'mba_p',
 'dummy_Arts',
 'dummy_Commerce',
 'dummy_Science',
 'dummy_Comm&Mgmt',
 'dummy_Others',
 'dummy_Sci&Tech']

In [58]:
train,test,valid=placement_h2o.split_frame(ratios=[.7,.15])

In [59]:
from h2o.automl import H2OAutoML

In [60]:
aml = H2OAutoML(max_models = 15, seed = 10, verbosity="info")

In [61]:
aml.train(x = x, y = y, training_frame = train, validation_frame=valid)

AutoML progress: |█
01:50:41.135: Project: AutoML_20200617_15041135
01:50:41.135: User specified a validation frame with cross-validation still enabled. Please note that the models will still be validated using cross-validation only, the validation frame will be used to provide purely informative validation metrics on the trained models.
01:50:41.135: Setting stopping tolerance adaptively based on the training frame: 0.05
01:50:41.135: Build control seed: 10
01:50:41.135: training frame: Frame key: automl_training_py_33_sid_ba8e    cols: 15    rows: 141  chunks: 1    size: 3294  checksum: -8775346951757672819
01:50:41.135: validation frame: Frame key: py_35_sid_ba8e    cols: 15    rows: 31  chunks: 1    size: 2060  checksum: 8823566266234026082
01:50:41.135: leaderboard frame: NULL
01:50:41.135: blending frame: NULL
01:50:41.135: response column: status
01:50:41.135: fold column: null
01:50:41.135: weights column: null
01:50:41.142: AutoML: XGBoost is not available; skipping it.
01:50:41.142: Loading execution steps: [{XGBoost : defaults}, {GLM : defaults}, {DRF : [def_1]}, {GBM : defaults}, {DeepLearning : defaults}, {DRF : [XRT]}, {XGBoost : grids}, {GBM : grids}, {DeepLearning : grids}, {GBM : [lr_annealing]}, {XGBoost : [lr_search]}, {StackedEnsemble : defaults}]
01:50:41.142: Disabling Algo: XGBoost as requested by the user.
01:50:41.142: AutoML job created: 2020.06.17 01:50:41.135
01:50:41.142: AutoML build started: 2020.06.17 01:50:41.142
01:50:41.142: AutoML: starting GLM_1_AutoML_20200617_015041 model training
01:50:42.149: New leader: GLM_1_AutoML_20200617_015041, auc: 0.9292833412434742
01:50:42.149: AutoML: starting DRF_1_AutoML_20200617_015041 model training
01:50:43.158: AutoML: starting GBM_1_AutoML_20200617_015041 model training
01:50:45.166: New leader: GBM_1_AutoML_20200617_015041, auc: 0.9477930707166587
01:50:45.166: AutoML: starting GBM_2_AutoML_20200617_015041 model training

██████████
01:50:46.170: AutoML: starting GBM_3_AutoML_20200617_015041 model training
01:50:47.176: AutoML: starting GBM_4_AutoML_20200617_015041 model training
01:50:48.183: AutoML: starting GBM_5_AutoML_20200617_015041 model training
01:50:48.187: Skipping training of model GBM_5_AutoML_20200617_015041 due to exception: water.exceptions.H2OModelBuilderIllegalArgumentException: Illegal argument(s) for GBM model: GBM_5_AutoML_20200617_015041.  Details: ERRR on field: _min_rows: The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 141.0.

01:50:48.188: AutoML: starting DeepLearning_1_AutoML_20200617_015041 model training
01:50:49.195: AutoML: starting XRT_1_AutoML_20200617_015041 model training
01:50:50.200: AutoML: starting GBM_grid__1_AutoML_20200617_015041 hyperparameter search
01:50:53.231: New leader: GBM_grid__1_AutoML_20200617_015041_model_4, auc: 0.9537256763170384
01:50:53.235: AutoML: starting DeepLearning_grid__1_AutoML_20200617_015041 hyperparameter search
01:51:13.803: AutoML: starting DeepLearning_grid__2_AutoML_20200617_015041 hyperparameter search

███████████████████████████
01:53:13.93: AutoML: starting DeepLearning_grid__3_AutoML_20200617_015041 hyperparameter search

██████████████████
01:56:40.577: AutoML: starting StackedEnsemble_BestOfFamily_AutoML_20200617_015041 model training
01:56:41.586: AutoML: starting StackedEnsemble_AllModels_AutoML_20200617_015041 model training
01:56:42.600: Actual modeling steps: [{GLM : [def_1 (10)]}, {DRF : [def_1 (10)]}, {GBM : [def_1 (10), def_2 (10), def_3 (10), def_4 (10)]}, {DeepLearning : [def_1 (10)]}, {DRF : [XRT (10)]}, {GBM : [grid_1 (60)]}, {DeepLearning : [grid_1 (20), grid_2 (20), grid_3 (20)]}, {StackedEnsemble : [best (10), all (10)]}]
01:56:42.600: AutoML build stopped: 2020.06.17 01:56:42.600
01:56:42.600: AutoML build done: built 17 models
01:56:42.600: AutoML duration:  6 min  1.458 sec

██| 100%

In [62]:
lb = aml.leaderboard

In [63]:
lb.head()

model_id,auc,logloss,aucpr,mean_per_class_error,rmse,mse
GBM_grid__1_AutoML_20200617_015041_model_4,0.953726,0.300801,0.980177,0.178097,0.310966,0.0967
GBM_1_AutoML_20200617_015041,0.947793,0.303269,0.976665,0.141789,0.306504,0.0939445
GBM_4_AutoML_20200617_015041,0.943522,0.277775,0.9745,0.146891,0.29802,0.0888161
GBM_3_AutoML_20200617_015041,0.93925,0.280362,0.971495,0.146891,0.298182,0.0889126
StackedEnsemble_BestOfFamily_AutoML_20200617_015041,0.93664,0.304018,0.971501,0.159943,0.307168,0.0943521
GBM_2_AutoML_20200617_015041,0.936402,0.288928,0.97006,0.183199,0.303862,0.0923324
GBM_grid__1_AutoML_20200617_015041_model_2,0.933792,0.301244,0.968904,0.141789,0.30812,0.0949382
StackedEnsemble_AllModels_AutoML_20200617_015041,0.930233,0.307759,0.96215,0.166469,0.305158,0.0931217
DeepLearning_grid__3_AutoML_20200617_015041_model_1,0.929521,0.32939,0.970788,0.185453,0.33313,0.110975
GBM_grid__1_AutoML_20200617_015041_model_1,0.929283,0.305849,0.967053,0.194827,0.313735,0.0984297

In [64]:
churn_pred=aml.leader.predict(test)

gbm prediction progress: |████████████████████████████████████████████████| 100%

In [65]:
churn_pred.head()

predict,Not Placed,Placed
Not Placed,0.996991,0.00300892
Placed,0.00110703,0.998893
Placed,0.00110691,0.998893
Placed,0.00318759,0.996812
Placed,0.00110696,0.998893
Placed,0.00212659,0.997873
Placed,0.00109167,0.998908
Placed,0.00134918,0.998651
Placed,0.00209949,0.997901
Placed,0.208396,0.791604

In [66]:
aml.leader.model_performance(test)

ModelMetricsBinomial: gbm
** Reported on test data. **

MSE: 0.06433259332815834
RMSE: 0.2536387062893957
LogLoss: 0.23120704251697646
Mean Per-Class Error: 0.07000000000000006
AUC: 0.968
AUCPR: 0.9867101406469265
Gini: 0.9359999999999999

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.46810376745154486:

               Not Placed  Placed   Error         Rate
0  Not Placed         9.0     1.0     0.1   (1.0/10.0)
1      Placed         1.0    24.0    0.04   (1.0/25.0)
2       Total        10.0    25.0  0.0571   (2.0/35.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold      value   idx
0                        max f1   0.468104   0.960000  24.0
1                        max f2   0.312316   0.976563  27.0
2                  max f0point5   0.468104   0.960000  24.0
3                  max accuracy   0.468104   0.942857  24.0
4                 max precision   0.998908   1.000000   0.0
5                    max recall   0.312316   1.000000  27.0
6               max specificity   0.998908   1.000000   0.0
7              max absolute_mcc   0.468104   0.860000  24.0
8    max min_per_class_accuracy   0.626052   0.900000  23.0
9   max mean_per_class_accuracy   0.468104   0.930000  24.0
10                      max tns   0.998908  10.000000   0.0
11                      max fns   0.998908  24.000000   0.0
12                      max fps   0.003009  10.000000  34.0
13                      max tps   0.312316  25.000000  27.0
14                      max tnr   0.998908   1.000000   0.0
15                      max fnr   0.998908   0.960000   0.0
16                      max fpr   0.003009   1.000000  34.0
17                      max tpr   0.312316   1.000000  27.0

Gains/Lift Table: Avg response rate: 71.43 %, avg score: 71.56 %

,,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain
0,,1,0.028571,0.998905,1.400000,1.400000,1.000000,0.998908,1.000000,0.998908,0.04,0.04,40.000000,40.000000
1,,2,0.028571,0.998902,0.000000,1.400000,0.000000,0.000000,1.000000,0.998908,0.00,0.04,-100.000000,40.000000
2,,3,0.057143,0.998900,1.400000,1.400000,1.000000,0.998900,1.000000,0.998904,0.04,0.08,40.000000,40.000000
3,,4,0.057143,0.998898,0.000000,1.400000,0.000000,0.000000,1.000000,0.998904,0.00,0.08,-100.000000,40.000000
4,,5,0.057143,0.998897,0.000000,1.400000,0.000000,0.000000,1.000000,0.998904,0.00,0.08,-100.000000,40.000000
5,,6,0.114286,0.998894,1.400000,1.400000,1.000000,0.998895,1.000000,0.998900,0.08,0.16,40.000000,40.000000
6,,7,0.171429,0.998893,1.400000,1.400000,1.000000,0.998893,1.000000,0.998897,0.08,0.24,40.000000,40.000000
7,,8,0.200000,0.998699,1.400000,1.400000,1.000000,0.998893,1.000000,0.998897,0.04,0.28,40.000000,40.000000
8,,9,0.314286,0.998583,1.400000,1.400000,1.000000,0.998649,1.000000,0.998807,0.16,0.44,40.000000,40.000000
9,,10,0.400000,0.997237,1.400000,1.400000,1.000000,0.998035,1.000000,0.998641,0.12,0.56,40.000000,40.000000
10,,11,0.514286,0.995547,1.400000,1.400000,1.000000,0.996080,1.000000,0.998072,0.16,0.72,40.000000,40.000000
11,,12,0.600000,0.982166,0.933333,1.333333,0.666667,0.986640,0.952381,0.996439,0.08,0.80,-6.666667,33.333333
12,,13,0.685714,0.499693,1.400000,1.341667,1.000000,0.799812,0.958333,0.971861,0.12,0.92,40.000000,34.166667
13,,14,0.800000,0.258040,0.700000,1.250000,0.500000,0.400473,0.892857,0.890234,0.08,1.00,-30.000000,25.000000
14,,15,0.885714,0.014093,0.000000,1.129032,0.000000,0.032955,0.806452,0.807271,0.00,1.00,-100.000000,12.903226
15,,16,1.000000,0.003009,0.000000,1.000000,0.000000,0.004847,0.714286,0.715566,0.00,1.00,-100.000000,0.000000