In [1]:
import h2o

In [2]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) 64-Bit Server VM (build 13.0.1+9, mixed mode, sharing)
  Starting server from c:\users\vishw\appdata\local\programs\python\python36\lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\vishw\AppData\Local\Temp\tmprmal5zgk
  JVM stdout: C:\Users\vishw\AppData\Local\Temp\tmprmal5zgk\h2o_vishw_started_from_python.out
  JVM stderr: C:\Users\vishw\AppData\Local\Temp\tmprmal5zgk\h2o_vishw_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  --------------------------------------------------------------------
H2O_cluster_uptime:         06 secs
H2O_cluster_timezone:       America/New_York
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.0.1
H2O_cluster_version_age:    2 months and 12 days
H2O_cluster_name:           H2O_from_python_vishw_zfbpz4
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    1.945 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         accepting new members, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null, "no": "192.168.99.100,192.168.99.101"}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.6.8 final
--------------------------  --------------------------------------------------------------------

In [3]:
data="C:/Users/vishw/Downloads/datasets_596958_1073629_Placement_Data_Full_Class.csv"

In [4]:
campus=h2o.import_file(data)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [5]:
campus

sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
1,M,67,Others,91,Others,Commerce,58,Sci&Tech,No,55,Mkt&HR,58.8,Placed,270000
2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000
3,M,65,Central,68,Central,Arts,64,Comm&Mgmt,No,75,Mkt&Fin,57.8,Placed,250000
4,M,56,Central,52,Central,Science,52,Sci&Tech,No,66,Mkt&HR,59.43,Not Placed,nan
5,M,85.8,Central,73.6,Central,Commerce,73.3,Comm&Mgmt,No,96.8,Mkt&Fin,55.5,Placed,425000
6,M,55,Others,49.8,Others,Science,67.25,Sci&Tech,Yes,55,Mkt&Fin,51.58,Not Placed,nan
7,F,46,Others,49.2,Others,Commerce,79,Comm&Mgmt,No,74.28,Mkt&Fin,53.29,Not Placed,nan
8,M,82,Central,64,Central,Science,66,Sci&Tech,Yes,67,Mkt&Fin,62.14,Placed,252000
9,M,73,Central,79,Central,Commerce,72,Comm&Mgmt,No,91.34,Mkt&Fin,61.29,Placed,231000
10,M,58,Central,70,Central,Commerce,61,Comm&Mgmt,No,54,Mkt&Fin,52.21,Not Placed,nan

In [6]:
campus[campus["salary"].isna(), "salary"] = 0

In [7]:
cols_1 = campus[:, [1, 2,4,6,7,8,9,10,11,12,13,14]]

In [8]:
import sklearn 
from sklearn.preprocessing import LabelEncoder

In [9]:
object_cols=['gender','workex','specialisation','status']

In [10]:
label_encoder = LabelEncoder()

In [13]:
import pandas as pd

In [15]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [16]:
cols_1

gender,ssc_p,hsc_p,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
M,67,91,Commerce,58,Sci&Tech,No,55,Mkt&HR,58.8,Placed,270000
M,79.33,78.33,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000
M,65,68,Arts,64,Comm&Mgmt,No,75,Mkt&Fin,57.8,Placed,250000
M,56,52,Science,52,Sci&Tech,No,66,Mkt&HR,59.43,Not Placed,0
M,85.8,73.6,Commerce,73.3,Comm&Mgmt,No,96.8,Mkt&Fin,55.5,Placed,425000
M,55,49.8,Science,67.25,Sci&Tech,Yes,55,Mkt&Fin,51.58,Not Placed,0
F,46,49.2,Commerce,79,Comm&Mgmt,No,74.28,Mkt&Fin,53.29,Not Placed,0
M,82,64,Science,66,Sci&Tech,Yes,67,Mkt&Fin,62.14,Placed,252000
M,73,79,Commerce,72,Comm&Mgmt,No,91.34,Mkt&Fin,61.29,Placed,231000
M,58,70,Commerce,61,Comm&Mgmt,No,54,Mkt&Fin,52.21,Not Placed,0

In [20]:
import numpy as np
ohe = OneHotEncoder()

cols_1

In [21]:
train,test,valid=cols_1.split_frame(ratios=[.7,.15])

In [24]:
x = cols_1.columns

In [25]:
y='status'

In [26]:
x.remove(y)

In [27]:
x

['gender',
 'ssc_p',
 'hsc_p',
 'hsc_s',
 'degree_p',
 'degree_t',
 'workex',
 'etest_p',
 'specialisation',
 'mba_p',
 'salary']

In [34]:
cols_1.quantile()

Probs,genderQuantiles,ssc_pQuantiles,hsc_pQuantiles,hsc_sQuantiles,degree_pQuantiles,degree_tQuantiles,workexQuantiles,etest_pQuantiles,specialisationQuantiles,mba_pQuantiles,statusQuantiles,salaryQuantiles
0.01,nan,43.14,40.28,nan,50.968,nan,nan,50.0672,nan,51.4682,nan,0
0.1,nan,52,52,nan,57,nan,nan,55.802,nan,54.986,nan,0
0.25,nan,60.6,60.9,nan,61,nan,nan,60,nan,57.945,nan,0
0.333,nan,62.262,62,nan,64,nan,nan,63.845,nan,59.261,nan,200000
0.5,nan,67,65,nan,66,nan,nan,71,nan,62,nan,240000
0.667,nan,73,70,nan,69,nan,nan,78.5461,nan,64.719,nan,265000
0.75,nan,75.7,73,nan,72,nan,nan,83.5,nan,66.255,nan,282500
0.9,nan,82,79,nan,77.12,nan,nan,92,nan,70.678,nan,356000
0.99,nan,87,91.86,nan,83.86,nan,nan,97,nan,76.1142,nan,629000

In [45]:
cols_1df=cols_1.as_data_frame()

In [46]:
Q1 = cols_1df['hsc_p'].quantile(0.25)

In [47]:
Q3 = cols_1df['hsc_p'].quantile(0.75)

In [48]:
IQR = Q3 - Q1

In [49]:
filter = (cols_1df['hsc_p'] >= Q1 - 1.5 * IQR) & (cols_1df['hsc_p'] <= Q3 + 1.5 *IQR)
placement_filtered=cols_1df.loc[filter]

In [50]:
from sklearn.preprocessing import LabelEncoder

In [51]:
object_cols=['gender','workex','specialisation','status']

In [52]:
label_encoder = LabelEncoder()
for col in object_cols:
    placement_filtered[col] = label_encoder.fit_transform(placement_filtered[col])
placement_filtered.head()

c:\users\vishw\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,gender,ssc_p,hsc_p,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,67.00,91.00,Commerce,58.00,Sci&Tech,0,55.0,1,58.80,1,270000
1,1,79.33,78.33,Science,77.48,Sci&Tech,1,86.5,0,66.28,1,200000
2,1,65.00,68.00,Arts,64.00,Comm&Mgmt,0,75.0,0,57.80,1,250000
3,1,56.00,52.00,Science,52.00,Sci&Tech,0,66.0,1,59.43,0,0
4,1,85.80,73.60,Commerce,73.30,Comm&Mgmt,0,96.8,0,55.50,1,425000

In [53]:
dummy_hsc_s=pd.get_dummies(placement_filtered['hsc_s'], prefix='dummy')
dummy_degree_t=pd.get_dummies(placement_filtered['degree_t'], prefix='dummy')
placement_coded = pd.concat([placement_filtered,dummy_hsc_s,dummy_degree_t],axis=1)
placement_coded.drop(['hsc_s','degree_t','salary'],axis=1, inplace=True)
placement_coded.head()

,gender,ssc_p,hsc_p,degree_p,workex,etest_p,specialisation,mba_p,status,dummy_Arts,dummy_Commerce,dummy_Science,dummy_Comm&Mgmt,dummy_Others,dummy_Sci&Tech
0,1,67.00,91.00,58.00,0,55.0,1,58.80,1,0,1,0,0,0,1
1,1,79.33,78.33,77.48,1,86.5,0,66.28,1,0,0,1,0,0,1
2,1,65.00,68.00,64.00,0,75.0,0,57.80,1,1,0,0,1,0,0
3,1,56.00,52.00,52.00,0,66.0,1,59.43,0,0,0,1,0,0,1
4,1,85.80,73.60,73.30,0,96.8,0,55.50,1,0,1,0,1,0,0

In [54]:
placement_h2o  = h2o.H2OFrame(placement_coded)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [55]:
placement_h2o

gender,ssc_p,hsc_p,degree_p,workex,etest_p,specialisation,mba_p,status,dummy_Arts,dummy_Commerce,dummy_Science,dummy_Comm&Mgmt,dummy_Others,dummy_Sci&Tech
1,67,91,58,0,55,1,58.8,1,0,1,0,0,0,1
1,79.33,78.33,77.48,1,86.5,0,66.28,1,0,0,1,0,0,1
1,65,68,64,0,75,0,57.8,1,1,0,0,1,0,0
1,56,52,52,0,66,1,59.43,0,0,0,1,0,0,1
1,85.8,73.6,73.3,0,96.8,0,55.5,1,0,1,0,1,0,0
1,55,49.8,67.25,1,55,0,51.58,0,0,0,1,0,0,1
0,46,49.2,79,0,74.28,0,53.29,0,0,1,0,1,0,0
1,82,64,66,1,67,0,62.14,1,0,0,1,0,0,1
1,73,79,72,0,91.34,0,61.29,1,0,1,0,1,0,0
1,58,70,61,0,54,0,52.21,0,0,1,0,1,0,0

In [56]:
x = placement_h2o.columns

In [57]:
y="status"

In [58]:
x.remove(y)

In [59]:
x

['gender',
 'ssc_p',
 'hsc_p',
 'degree_p',
 'workex',
 'etest_p',
 'specialisation',
 'mba_p',
 'dummy_Arts',
 'dummy_Commerce',
 'dummy_Science',
 'dummy_Comm&Mgmt',
 'dummy_Others',
 'dummy_Sci&Tech']

In [60]:
train,test,valid=placement_h2o.split_frame(ratios=[.7,.15])

In [62]:
from h2o.automl import H2OAutoML

In [63]:
aml = H2OAutoML(max_models = 15, seed = 10, verbosity="info")

In [64]:
aml.train(x = x, y = y, training_frame = train, validation_frame=valid)

AutoML progress: |
17:50:59.291: Project: AutoML_20200616_175059286
17:50:59.292: User specified a validation frame with cross-validation still enabled. Please note that the models will still be validated using cross-validation only, the validation frame will be used to provide purely informative validation metrics on the trained models.
17:50:59.292: Setting stopping tolerance adaptively based on the training frame: 0.05
17:50:59.292: Build control seed: 10
17:50:59.293: training frame: Frame key: automl_training_py_19_sid_b124    cols: 15    rows: 138  chunks: 1    size: 2680  checksum: 6144614304681947773
17:50:59.293: validation frame: Frame key: py_21_sid_b124    cols: 15    rows: 33  chunks: 1    size: 1508  checksum: 3301363484730552264
17:50:59.293: leaderboard frame: NULL
17:50:59.293: blending frame: NULL
17:50:59.293: response column: status
17:50:59.293: fold column: null
17:50:59.293: weights column: null
17:50:59.314: AutoML: XGBoost is not available; skipping it.
17:50:59.327: Loading execution steps: [{XGBoost : defaults}, {GLM : defaults}, {DRF : [def_1]}, {GBM : defaults}, {DeepLearning : defaults}, {DRF : [XRT]}, {XGBoost : grids}, {GBM : grids}, {DeepLearning : grids}, {GBM : [lr_annealing]}, {XGBoost : [lr_search]}, {StackedEnsemble : defaults}]
17:50:59.337: Disabling Algo: XGBoost as requested by the user.
17:50:59.340: AutoML job created: 2020.06.16 17:50:59.286
17:50:59.341: AutoML build started: 2020.06.16 17:50:59.340
17:50:59.345: AutoML: starting GLM_1_AutoML_20200616_175059 model training


17:51:00.369: New leader: GLM_1_AutoML_20200616_175059, mean_residual_deviance: 0.11713112452268534
17:51:00.372: AutoML: starting DRF_1_AutoML_20200616_175059 model training

█
17:51:01.374: New leader: DRF_1_AutoML_20200616_175059, mean_residual_deviance: 0.1122376648670986
17:51:01.375: AutoML: starting GBM_1_AutoML_20200616_175059 model training

█
17:51:02.377: AutoML: starting GBM_2_AutoML_20200616_175059 model training

█
17:51:03.379: New leader: GBM_2_AutoML_20200616_175059, mean_residual_deviance: 0.10802871204919315
17:51:03.380: AutoML: starting GBM_3_AutoML_20200616_175059 model training

████
17:51:04.381: AutoML: starting GBM_4_AutoML_20200616_175059 model training
17:51:05.383: New leader: GBM_4_AutoML_20200616_175059, mean_residual_deviance: 0.10792320856535444
17:51:05.384: AutoML: starting GBM_5_AutoML_20200616_175059 model training
17:51:05.384: Skipping training of model GBM_5_AutoML_20200616_175059 due to exception: water.exceptions.H2OModelBuilderIllegalArgumentException: Illegal argument(s) for GBM model: GBM_5_AutoML_20200616_175059.  Details: ERRR on field: _min_rows: The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 138.0.

17:51:05.390: AutoML: starting DeepLearning_1_AutoML_20200616_175059 model training

███
17:51:06.394: AutoML: starting XRT_1_AutoML_20200616_175059 model training

█████
17:51:07.396: New leader: XRT_1_AutoML_20200616_175059, mean_residual_deviance: 0.1078093604347811
17:51:07.398: AutoML: starting GBM_grid__1_AutoML_20200616_175059 hyperparameter search

██████████
17:51:09.460: AutoML: starting DeepLearning_grid__1_AutoML_20200616_175059 hyperparameter search

███████████████████
17:51:26.681: New leader: DeepLearning_grid__1_AutoML_20200616_175059_model_1, mean_residual_deviance: 0.10188137158495165

█████
17:52:13.700: AutoML: starting DeepLearning_grid__2_AutoML_20200616_175059 hyperparameter search

██
17:53:06.632: AutoML: starting DeepLearning_grid__3_AutoML_20200616_175059 hyperparameter search

██
17:54:22.668: AutoML: starting StackedEnsemble_BestOfFamily_AutoML_20200616_175059 model training
17:54:23.671: New leader: StackedEnsemble_BestOfFamily_AutoML_20200616_175059, mean_residual_deviance: 0.09932418953293545
17:54:23.671: AutoML: starting StackedEnsemble_AllModels_AutoML_20200616_175059 model training
17:54:24.674: New leader: StackedEnsemble_AllModels_AutoML_20200616_175059, mean_residual_deviance: 0.09714431393458814
17:54:24.674: Actual modeling steps: [{GLM : [def_1 (10)]}, {DRF : [def_1 (10)]}, {GBM : [def_1 (10), def_2 (10), def_3 (10), def_4 (10)]}, {DeepLearning : [def_1 (10)]}, {DRF : [XRT (10)]}, {GBM : [grid_1 (60)]}, {DeepLearning : [grid_1 (20), grid_2 (20), grid_3 (20)]}, {StackedEnsemble : [best (10), all (10)]}]
17:54:24.675: AutoML build stopped: 2020.06.16 17:54:24.674
17:54:24.675: AutoML build done: built 17 models
17:54:24.675: AutoML duration:  3 min 25.334 sec

███| 100%

In [65]:
lb = aml.leaderboard

In [66]:
lb.head()

model_id,mean_residual_deviance,rmse,mse,mae,rmsle
StackedEnsemble_AllModels_AutoML_20200616_175059,0.0971443,0.31168,0.0971443,0.215862,0.221231
StackedEnsemble_BestOfFamily_AutoML_20200616_175059,0.0993242,0.315157,0.0993242,0.233576,0.220889
DeepLearning_grid__1_AutoML_20200616_175059_model_1,0.101881,0.319189,0.101881,0.24414,0.223296
DeepLearning_grid__3_AutoML_20200616_175059_model_1,0.102427,0.320043,0.102427,0.208911,0.239635
DeepLearning_grid__2_AutoML_20200616_175059_model_1,0.104164,0.322745,0.104164,0.211227,0.230362
XRT_1_AutoML_20200616_175059,0.107809,0.328343,0.107809,0.235811,0.230493
GBM_4_AutoML_20200616_175059,0.107923,0.328517,0.107923,0.228591,0.229803
GBM_2_AutoML_20200616_175059,0.108029,0.328677,0.108029,0.224755,0.230846
GBM_3_AutoML_20200616_175059,0.109926,0.331551,0.109926,0.235078,0.232938
DRF_1_AutoML_20200616_175059,0.112238,0.335019,0.112238,0.243426,0.236734

In [67]:
churn_pred=aml.leader.predict(test)

stackedensemble prediction progress: |████████████████████████████████████| 100%

In [68]:
churn_pred.head()

predict
0.847201
1.03112
0.689401
1.05154
1.05119
0.934443
0.954035
-0.0143108
0.0382541
1.01515

In [70]:
aml.leader.model_performance(test)

ModelMetricsRegressionGLM: stackedensemble
** Reported on test data. **

MSE: 0.15687201974356335
RMSE: 0.39607072568363766
MAE: 0.21990360559365485
RMSLE: 0.27238878427135677
R^2: 0.2607049542266979
Mean Residual Deviance: 0.15687201974356335
Null degrees of freedom: 35
Residual degrees of freedom: 28
Null deviance: 7.64524259609326
Residual deviance: 5.647392710768281
AIC: 53.47987558135945

In [71]:
lb1 = h2o.automl.get_leaderboard(aml, extra_columns = 'ALL')
lb1

model_id,mean_residual_deviance,rmse,mse,mae,rmsle,training_time_ms,predict_time_per_row_ms
StackedEnsemble_AllModels_AutoML_20200616_175059,0.0971443,0.31168,0.0971443,0.215862,0.221231,174,0.353497
StackedEnsemble_BestOfFamily_AutoML_20200616_175059,0.0993242,0.315157,0.0993242,0.233576,0.220889,220,0.052276
DeepLearning_grid__1_AutoML_20200616_175059_model_1,0.101881,0.319189,0.101881,0.24414,0.223296,4224,0.00626
DeepLearning_grid__3_AutoML_20200616_175059_model_1,0.102427,0.320043,0.102427,0.208911,0.239635,16312,0.159737
DeepLearning_grid__2_AutoML_20200616_175059_model_1,0.104164,0.322745,0.104164,0.211227,0.230362,11511,0.086313
XRT_1_AutoML_20200616_175059,0.107809,0.328343,0.107809,0.235811,0.230493,152,0.009781
GBM_4_AutoML_20200616_175059,0.107923,0.328517,0.107923,0.228591,0.229803,85,0.009469
GBM_2_AutoML_20200616_175059,0.108029,0.328677,0.108029,0.224755,0.230846,120,0.011307
GBM_3_AutoML_20200616_175059,0.109926,0.331551,0.109926,0.235078,0.232938,86,0.009834
DRF_1_AutoML_20200616_175059,0.112238,0.335019,0.112238,0.243426,0.236734,93,0.013093